body {
    background-color: #B3995D;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

h1 {
    font-family: "Roboto";
    font-size: 40px;
    text-align: center;
    color: #590202;
}

img {
    width: 600px;
    border-radius: 20px;
    margin: 0;
    display: block;
    margin: auto;
    box-shadow: 0 6px 10px rgba(42, 12, 12, 1);
}

h2 {
    background-color: black;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    font-size: 10px;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    text-align: center;
}